---
import Icon from "@components/Icons/Icon.astro";
import Spacer from "@components/UI/Spacer.astro";

interface FeatureItem {
  title: string;
  description: string;
  icon?: string;
}

interface Props {
  eyebrow?: string;
  title: string;
  description?: string;
  features: FeatureItem[];
}

const { eyebrow, title, description, features } = Astro.props as Props;
---

<section class="section-container">
  <div class="intro">
    {eyebrow && <span class="eyebrow">{eyebrow}</span>}
    <h2>{title}</h2>
    {description && <p>{description}</p>}
  </div>
  <div class="features">
    {
      features.map((feature) => (
        <article class="feature">
          <div class="feature__icon">
            {feature.icon && <Icon type={feature.icon as any} />}
          </div>
          <h3>{feature.title}</h3>
          <p>{feature.description}</p>
        </article>
      ))
    }
  </div>
  <Spacer size="2rem" />
</section>

<style lang="scss">
  .intro {
    margin: 0 auto;
    text-align: center;
    h2 {
      margin: var(--space-2) 0 var(--space-5);
      color: var(--color-primary);
      font-size: var(--step-2);
      font-weight: 800;
    }
  }
  .features {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    align-items: center;

    .feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &__icon {
        width: var(--space-6);
        height: var(--space-6);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__icon :global(svg) {
        width: var(--space-5);
        height: var(--space-5);
        fill: var(--color-primary);
      }
      h3 {
        margin: 0;
        font-size: var(--step-1);
        font-weight: 600;
        color: var(--color-primary);
      }

      p {
        margin: 0;
        padding: 0 var(--space-6);
        color: var(--color-neutral-content);
        font-size: var(--step--2);
      }
    }
  }
</style>
