---
import Icon from "@components/Icons/Icon.astro";
import SectionHeader from "@components/UI/SectionHeader.astro";
import Spacer from "@components/UI/Spacer.astro";
import type { FeatureSectionProps } from "@app-types/features";

const { eyebrow, title, description, features } =
  Astro.props as FeatureSectionProps;
---

<section class="section-container">
  <SectionHeader
    class="intro"
    eyebrow={eyebrow}
    title={title}
    description={description}
    headingLevel="h2"
    as="header"
  />
  <div class="features">
    {
      features.map((feature) => (
        <article class="feature">
          <div class="feature__icon">
            {feature.icon && <Icon type={feature.icon as any} />}
          </div>
          <h3>{feature.title}</h3>
          <p>{feature.description}</p>
        </article>
      ))
    }
  </div>
  <Spacer size="2rem" />
</section>

<style lang="scss" is:global>
  .intro {
    .title {
      font-weight: 800;
    }
  }
  .features {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    align-items: center;

    .feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &__icon {
        width: var(--space-6);
        height: var(--space-6);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__icon :global(svg) {
        width: var(--space-5);
        height: var(--space-5);
        fill: var(--color-primary);
      }
      h3 {
        margin: 0;
        font-size: var(--step-1);
        font-weight: 600;
        color: var(--color-primary);
      }

      p {
        margin: 0;
        padding: 0 var(--space-6);
        color: var(--color-neutral-content);
        font-size: var(--step--2);
      }
    }
  }
</style>
